<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DuBeardIFSC"
        tools:targetApi="34">
        <activity
            android:name=".activity.EditarServico"
            android:exported="false" />
        <activity
            android:name=".activity.EditarCliente"
            android:exported="false" />
        <activity
            android:name=".activity.barber.page.BarberEdit"
            android:exported="false" />
        <activity
            android:name=".activity.ListaCliente"
            android:exported="false" />
        <activity
            android:name=".activity.CadastraCliente"
            android:exported="false" />
        <activity
            android:name=".activity.Reservar"
            android:exported="false" />
        <activity
            android:name=".activity.barber.page.BarberList"
            android:exported="false" />
        <activity
            android:name=".activity.barber.page.BarberCreate"
            android:exported="false" />
        <activity
            android:name=".activity.ListaServico"
            android:exported="false" />
        <activity
            android:name=".activity.CadastraServico"
            android:exported="false" />
        <activity
            android:name=".activity.Cadastro"
            android:exported="false" />
        <activity
            android:name=".activity.PrincipalCliente"
            android:exported="false" />
        <activity
            android:name=".activity.PrincipalProfissional"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>